/* styles.css */

body {
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  label {
      display: inline-block;
      color: rgb(39, 11, 250);
      width: 250px; /* Reduced width for better alignment */
      text-align: left;
      margin-right: 15px; /* Space between label and input */
  }
  
  input,
  select {
      width: 200px; /* Keep the width of textboxes */
      height: 25px;
      margin-bottom: 10px; /* Space between rows */
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  .form-row {
      display: flex;
      align-items: center;
      margin-bottom: 15px; /* Space between form rows */
  }
  
  .button {
      background-color: rgb(39, 11, 250); /* Blue */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 20px auto; /* Center button and add space */
      cursor: pointer;
      border-radius: 5px;
  }
  
  .button1 {
      width: 250px;
  }
  
  .table-users {
      text-align: center;
      padding: 20px; /* Add padding around the content */
  }
  
  .header {
      color: red;
      font-size: 2em; /* Adjust font size for visibility */
      margin-bottom: 20px; /* Space below the header */
  }
  