<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
</head>
<body>
    <h1 align="center" style="color: red;"> Insurance Fraud Detection </h1><br>
    <div class="form">
        <form align="center" action="/predict" method="POST">
            <label>Number of months for which the customer is associated with the insurance company </label>
            <input type="number" name="nm" id="nm" placeholder="Number of months" step="any" required min="0" max="479"><br>                
            <label>The amount paid out of pocket by the policy-holder before an insurance provider will pay any expenses. </label>
            <input type="number" name="app" id="app" placeholder="The amount paid" step="any" required min="500" max="2000"><br>
            <label>Extra liability insurance coverage that goes beyond the limits</label>
            <input type="number" name="el" id="el" placeholder="Extra liability insurance" step="any" required min="-1000000" max="10000000"><br>            
            <label>Monitory gains by the person</label>
            <input type="number" name="mg" id="mg" placeholder="Monitory gains by the person" step="any" required min="0" max="100500"><br>
            <label>Monitory loss by the person</label>
            <input type="number" name="ml" id="ml" placeholder="Monitory loss by the person" step="any" required min="-111100" max="0"><br>               
            <label>The time of the day when the incident took place</label>
            <input type="number" name="time" id="time" placeholder="incident_hour_of_the_day" step="any" required min="0" max="23"><br>
            <label>Number of vehicles_involved</label>
            <input type="number" name="nvi" id="nvi" placeholder="Number_of_vehicles_involved" step="any" required min="1" max="4"><br>
            <label>Number of bodily injuries</label>
            <input type="number" name="nbi" id="nbi" placeholder="Number of bodily injuries" step="any" required min="0" max="2"><br>                
            <label>Number of witnesses present</label>
            <input type="number" name="nwp" id="nwp" placeholder="Number of witnesses present" step="any" required min="0" max="3"><br>                                   
            <label>Amount claimed for injury</label> 
            <input type="number" name="aci" id="aci" placeholder="Amount claimed for injury" step="any" required min="0" max="21450"><br>                
            <label>Amount claimed for property damage</label>
            <input type="number" name="acp" id="acp" placeholder="Amount claimed for property damage" step="any" required min="0" max="23670"><br>                
            <label>Amount claimed for vehicle damage</label> 
            <input type="number" name="acv" id="acv" placeholder="Amount claimed for vehicle damage" step="any" required min="70" max="79560"><br>                
            <label>How much of the bodily injury will be covered from the total damage</label> 
            <select name="pcsl" id="pcsl">
              <option value="0">1</option>
              <option value="2.5">2.5</option>
              <option value="5">5</option>
            </select><br>
            <label>Gender of the insurance holder</label>
            <select name="g" id="g" >
              <option value="M">Male</option><br>
              <option value="F">Female</option><br>
            </select><br>
            <label>The highest educational qualification of the policy-holder</label>
            <select name="eq" id="eq" >
              <option value="jd">JD</option><br>
              <option value="hs">High School</option><br>
              <option value="coll">College</option><br>
              <option value="mas">Masters</option><br>
              <option value="assc">Associate</option><br>
              <option value="md">MD</option><br>
              <option value="phd">PhD</option><br>
            </select><br>
            <label>The severity of the incident</label> 
            <select name="ins" id="ins" >
              <option value="td">Trivial Damage</option><br>
              <option value="md">Minor Damage</option><br>
              <option value="majd">Major Damage</option><br>
              <option value="tl">Total Loss</option><br>
            </select><br>
            <label>If any property damage was done</label>
            <select name="pd" id="pd" >
              <option value="Y">Yes</option><br>
              <option value="N">No</option><br>
            </select><br>
            <label>Is the police report available</label> 
            <select name="pr" id="pr" >
              <option value="1">Yes</option><br>
              <option value="0">No</option><br>
            </select><br>
            <label>The occupation of the policy-holder</label> 
            <select name="occu" id="occu" >
              <option value="af">Armed-forces</option><br>
              <option value="cr">Craft-repair</option><br>
              <option value="em">Exec-managerial</option><br>
              <option value="ff">Farming-fishing</option><br>
              <option value="hc">Handlers-cleaners</option><br>
              <option value="moi">Machine-op-inspct</option><br>
              <option value="os">Other-service</option><br>
              <option value="phs">Priv-house-serv</option><br>
              <option value="ps">Prof-specialty</option><br>
              <option value="prs">Protective-serv</option><br>
              <option value="s">Sales</option><br>
              <option value="ts">Tech-support</option><br>
              <option value="tm">Transport-moving</option><br>
              </select><br>
            <label>Dependents on the policy-holder</label> 
            <select name="dph" id="dph" >
              <option value="nif">Not-in-family</option><br>
              <option value="or">Other-relative</option><br>
              <option value="oc">Own-child</option><br>
              <option value="unm">Unmarried</option><br>
              <option value="w">Wife</option><br>
              </select><br>
            <label>The type of the incident</label> 
            <select name="it" id="it" >
              <option value="pc">Parked Car</option><br>
              <option value="svc">Single Vehicle Collision</option><br>
              <option value="vt">Vehicle Theft</option><br>
            </select><br>
            <label>The type of collision that took place</label>
            <select name="ct" id="ct" >
              <option value="rc">Rear Collision</option><br>
              <option value="sc">Side Collision</option><br>
            </select><br>
            <label>Which authority was contacted</label> 
            <select name="ac" id="ac" >
              <option value="fire">Fire </option><br>
              <option value="none1">None</option><br>
              <option value="other">Other</option><br>
              <option value="police">Police</option><br>
            </select><br>
            <button type="submit" class="button button1">Predict</button>
        </form>
    </div> 
</body>
</html>
